---
layout: archive
title: "Talks: spring 2024 meeting time is to be determined"
permalink: /talks/
author_profile: true
---

If you are interested in giving a talk (in person or over Zoom), then please contact Jin (sapeaude AT sas DOT upenn DOT edu) and/or Krishan (kcanzius AT sas DOT upenn DOT edu).

{% if site.talkmap_link == true %}
<p style="text-decoration: underline;"><a href="/talkmap.html">Talk Map</a></p>
{% endif %}

<h2>Current Year</h2>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
    <h2 class="archive__item-title" itemprop="headline" style="color: #52adc8; text-decoration: none; cursor: pointer;">{{ title }}</h2>
{% endfor %}

<h2>Previous Years</h2>
<ul>
  {% for year in site.collections.talks.year %}
    <li><a href="/talks/{{ year }}">{{ year }}</a></li>
  {% endfor %}
</ul>

