---
layout: archive
title: "Talks: spring 2024 meeting time is to be determined"
permalink: /talks/
author_profile: true
---

If you are interested in giving a talk (in person or over Zoom), then please contact Jin (sapeaude AT sas DOT upenn DOT edu) and/or Krishan (kcanzius AT sas DOT upenn DOT edu).
<br> <br>

{% if site.talkmap_link == true %}
<p style="text-decoration: underline;"><a href="/talkmap.html">Talk Map</a></p>
{% endif %}

<h1>Current Semester</h1>
<hr> <!-- Add this line to create a horizontal line -->

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Previous Semesters</h2>
<ul>
  {% for year in site.collections.talks.year %}
    <li><a href="/talks/{{ year }}">{{ year }}</a></li>
  {% endfor %}
</ul>

